@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f00;
  --color-secondary: #0f0;
}

img {
  border-radius: 5%;
  overflow: hidden;
}

h1 {
	font-family: 'Antic Didone', serif;
}

h2, h3, h4, h5, h6 {
	font-family: 'GFS Didot', serif;
}

p, a, li, ul, ol, span, button, input, textarea, select, label, div {
	font-family: 'Source Sans Pro', sans-serif;
}

.item {
	justify-content: center;
	align-items: center;

}


/* Modal */

.card {
  width: 25%;
  text-align: center;
}

.modalBackdrop {
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 125px;
}

.modalContainer {
	background: steelblue;
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 960px;
}

.modalTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}

.modalContainer img {
  height: auto;
  width: 400px;
  justify-content: center;
  border-radius: 5%;
}

.modalContainer p {
  margin: 10px;
}

button, .closebtn {
	background: grey;
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
  margin: 15px 15px 30px 15px;
	padding: 10px 15px;	
}

/* End Modal */

/* scroll-snap for porojects on phone screens */

@media only screen and (max-width: 640px){
	* {
		padding: 0; margin: 0;
		box-sizing: border-box;
	}

	.container {
		display: flex;
		overflow-x: scroll;
		padding: 12px;
		height: auto;
		width: auto;
		scroll-snap-type: x mandatory;
		scroll-padding: 12px;
		border-radius: 8px;
		gap: 6px;
		margin: 1rem auto;
	}

	.container .item {
		flex: 0 0 100%;
		border-radius: 8px;
		scroll-snap-align: start;
	}

}

/* @media only screen and (max-width: 405) {
	h1 {
		font-size: 20px;

	}
} */